/* initialisation */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Bouton d'edition d'une tache */
.custom-margin-left-end-task {
    margin-left: 37px;
}

.custom-margin-left-current-task {
    margin-left: 56px;
}

/* config du site */
.avatar {
    width: 50px;
    height: 70px;
}

.homelogo {
    width: 250px;
}

/* zoom d'affichage des taches en page d'accueil */
.task-count p:hover {
        transform: scale(1.1);
        border: 1px solid rgba(255, 255, 255, 0.3);
        cursor: default;
}


.dashboard_menu .nav-link:hover {
    transform:scale(1.01);
    background-color: rgb(250, 250, 250);
}

.card-body a:hover {
    transform: scale(1.1);
    cursor: default;
}

.container a:hover {
    transform: scale(1.05);
    cursor: default;
}

.save-button .btn:hover {
    transform: scale(1.04);
    cursor: default;
}

.card-body .btn:hover {
    transform: scale(1.03);
    cursor: default;
}

form .btn:hover {
    transform: scale(1.04);
}

#notification-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    display: flex;
    flex-direction: column; /* Aligne les notifications verticalement */
    gap: 10px; /* Espacement entre les notifications */
}

.notification {
    color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    max-width: 300px;
}

.notification.show {
    opacity: 1;
    transform: translateY(0);
}

.notification.success {
    background-color: #28a745; /* Vert pour la tâche terminée */
}

.notification.error {
    background-color: #dc3545; /* Rouge pour la tâche non terminée */
}
