/* initialisation */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Bouton d'edition d'une tache */
.custom-margin-left-end-task {
    margin-left: 37px;
}

.custom-margin-left-current-task {
    margin-left: 56px;
}

/* config du site */
.avatar {
    width: 50px;
    height: 70px;
}

.homelogo {
    width: 250px;
}

/* zoom d'affichage des taches en page d'accueil */
.task-count p:hover {
        transform: scale(1.1);
        border: 1px solid rgba(255, 255, 255, 0.3);
        cursor: default;
}


.dashboard_menu .nav-link:hover {
    transform:scale(1.01);
    background-color: rgb(250, 250, 250);
}

.card-body a:hover {
    transform: scale(1.1);
    cursor: default;
}

.container a:hover {
    transform: scale(1.05);
    cursor: default;
}

.save-button .btn:hover {
    transform: scale(1.04);
    cursor: default;
}

.card-body .btn:hover {
    transform: scale(1.03);
    cursor: default;
}

form .btn:hover {
    transform: scale(1.04);
}

.subnotif #notification-success {
    position: fixed;
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: rgb(71, 205, 71);
    padding: 1rem;
    border-radius: 6px;
    margin-top: 1rem;
    right: 26%;
    bottom: -8rem;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    transition: .5s;
}

.subnotif #notification-success.show {
    bottom: 2rem;
}